body {
    font-family: sans-serif;
    font-stretch: ultra-condensed;
    background-color: rgb(0, 0, 15);
    margin: 0;
}

.players {
    background-image: url(players1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 300px;
}

h1 {
    background-color: rgb(0, 120, 70);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 250px;
    margin: 0;
    font-size: 30px;
    color: white;
}

nav {
    background-color: rgb(0, 120, 70);
    padding: 10px 0 10px 195px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inline {
    display: inline;
}

nav a {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 40px 10px 40px;
    font-size: 14px;
    font-weight: bolder;
}

#aaa {
    border-right-style: solid;
    border-right-width: thin;
    padding: 5px 25px 5px 25px;
    font-size: 14px;
    font-weight: bolder;
}

a:hover {
    color: rgb(0, 120, 70);
    background-color: rgb(150, 170, 150);
}

hr {
    background-color: rgb(150, 180, 150);
    border-color: rgb(150, 180, 150);
    margin: 0px;
}

.active {
    color: white;
    text-decoration: none;
}

.inactive {
    color: rgb(150, 170, 150);
    text-decoration: none;
}

h2 {
    margin: 0px;
    text-align: center;
    font-size: 27px;
    color: white;
    background-color: rgb(0, 120, 70);
    padding: 5px;
    border-bottom-color: rgb(0, 0, 15);
    border-bottom-style: solid;
    border-bottom-width: 30px;
}

.logo {
    height: 120px;
    width: 120px;
}

section {
    color: rgb(200, 200, 200);
    margin-left: 20px;
    margin-right: 20px;
}

h3 {
    font-size: 18px;
    margin-top: 50px;
    color: rgb(200, 200, 200);
}

p {
    margin-top: -10px;
    margin-left: 15px;
    margin-bottom: 40px;

    text-align: justify;
}

.list_alfa {
    list-style-type: lower-alpha;
}

.closer {
    margin-bottom: -30px;
}

.close {
    margin-bottom: -20px;
}

th {
    text-align: left;
    text-decoration: underline;
}

.table1 td:first-child {
    text-align: center;
    padding-right: 107px;
    padding-left: 23px;
}

.table1 td:nth-child(2) {
    padding-right: 60px;
}

.table1 td:nth-child(3) {
    padding-right: 15px;
}

.table2 td:first-child {
    text-align: center;
    padding-right: 103px;
    padding-left: 20px;
}

.table2 td:nth-child(2) {
    padding-right: 60px;
}

.table2 td:nth-child(3) {
    padding-right: 15px;
}

.table1 {
    border-collapse: collapse;
}

.table2 {
    border-collapse: collapse;
}

.flex-container {
    height: 755px;
    background-color: rgb(0, 0, 15);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.map {
    width: 280px;
    height: 190px;
}

h4 {
    font-size: 18px;
    color: rgb(200, 200, 200);
    margin: 50px 0px 10px 0px;
}

h6 {
    font-size: 15px;
    color: rgb(200, 200, 200);
    margin: 0px 0px 10px 0px;
}

#game_loc {
    padding-left: 15px;
    padding-bottom: 30px;
    padding-top: 0px;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 15);
}

form {
    background-color: rgb(40, 40, 50);
}

label {
    padding-left:
}

input[type=text] {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=email] {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=date] {
    width: 20%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
}

select {
    width: 72%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.register_container {
    display: flex;
    flex-wrap: wrap;
}

.name {
    flex: 35%;
    margin-top: 6px;
}

.field {
    flex: 65%;
    margin-top: 6px;
}

.row {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 50%;
    padding: 5px;
}

h5 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    color: rgb(200, 200, 200);
}

input[type=submit] {
    width: 20%;
    margin-left: 280px;
    background-color: rgb(0, 120, 70);
    color: rgb(200, 200, 200);
}

#uniform {
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grid_container {
    display: grid;
    grid-template-columns: 250px auto 350px;
    grid-template-rows: 40px 150px 277px 230px auto auto;
}

.item1 {
    grid-column: 1/span 3;
    grid-row: 1/span 3;
}

.item2 {
    grid-column: 1;
    grid-row: 1/span 2;
    justify-self: center;
    align-self: center;
}

.item3 {
    grid-column: 2/span 2;
    grid-row: 1;
    align-self: end;
}

.item4 {
    grid-column: 2;
    grid-row: 4/span 2;
    background-color: rgb(40, 40, 45);
    border-bottom-color: rgb(0, 0, 15);
    border-bottom-style: solid;
    border-bottom-width: 20px;
}

.item5 {
    grid-column: 3;
    grid-row: 4;
    align-self: start;
    overflow: scroll;
}

.item6 {
    grid-column: 1/span 3;
    grid-row: 6;
    background-color: rgb(0, 0, 15);
    border-top-color: rgb(0, 120, 70);
    border-top-style: solid;
    border-top-width: 0px;
}


footer {
    background-color: rgb(0, 120, 70);
    height: 50px;
}

i {
    margin-left: 20px;
    color: rgb(0, 120, 70);
}

.center {
    text-align: center;
}

#take_place {
    color: rgb(200, 200, 200);
}

.email {
    color: rgb(0, 120, 70);
    text-decoration: none;
}
